# Launch RTorrent for seedbox and Flood for web access
[Unit]
Description=Galactica Flood and RTorrent 
[Service]
EnvironmentFile=/home/opt/flood/.env
WorkingDirectory=/home/opt/flood
TimeoutStartSec=0
ExecStart=-/usr/bin/docker run -v /mnt/raid/0.SHARED:/data -v /home/opt/flood/db:/flood-db -v /home/opt/flood/rtorrent:/config/rtorrent -e VIRTUAL_HOST=torrent.galactica-nas.ddns.net,torrent.galactica -e VIRTUAL_PORT=3000 --network=webproxy superd22/flood
[Install]
WantedBy=multi-user.target