# Launch Nginx and LetsEncrypt as reverse proxies for any docker container
[Unit]
Description=Galactica Nginx/LetsEncrypt auto reverse proxy
[Service]
EnvironmentFile=/home/opt/docker-compose-letsencrypt-nginx-proxy-companion/.env
WorkingDirectory=/home/opt/docker-compose-letsencrypt-nginx-proxy-companion/
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker network create webproxy
ExecStart=-/usr/bin/docker-compose up
[Install]
WantedBy=multi-user.target