# Launch Nginx and LetsEncrypt as reverse proxies for any docker container
[Unit]
Description=Galactica traeffik auto reverse proxy
[Service]
#EnvironmentFile=/home/david/docker-compose-letsencrypt-nginx-proxy-companion/.env
WorkingDirectory=/home/david/galactica.target.wants/traefik/
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker network create webproxy
ExecStart=-/usr/bin/docker-compose up
[Install]
WantedBy=multi-user.target
